[project]
name = "ccfinetune"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "dotenv>=0.9.9",
    "langchain[openai]>=1.2.0",
    "unsloth>=2025.12.9",
]
